# Cartella di build e file binari
build/
bin/
obj/

# File di configurazione IDE locali
.vscode/
.idea/
*.cmake
CMakeCache.txt
CMakeFiles/
Makefile.cmake
cmake_install.cmake

# File di sistema
.DS_Store
Thumbs.db
